/* Variables */

:root {
  --primary-color: #2e2f42;
  --secondary-color: #434455;
  --white-color: #ffffff;
  --logo-span-color: #4d5ae5;
  --light-bg-color: #f4f4fd;
  --footer-text-color: #e7e9fc;
  --accent-hover-color: #404bbf;
}

/* Body */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

/* Container */

.section {
  padding: 80px 0;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.header {
  border-bottom: 1px solid var(--footer-text-color);
  padding: 20px 0;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Logo */

.logo {
  color: var(--primary-color);
  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-weight: 800;
}

.logo-span {
  color: var(--logo-span-color);
}

/* Navigations */

.nav-list {
  display: flex;
  font-weight: 500;
  list-style: none;
  color: var(--primary-color);
  gap: 40px;
}

.nav-link {
  text-decoration: none;
}
.nav-link:hover,
.nav-link:focus {
  color: var(--accent-hover-color);
}

/* Address */

.address {
  display: flex;
  gap: 20px;
  font-style: normal;
  color: var(--secondary-color);
}
.address-link {
  text-decoration: none;
  color: var(--secondary-color);
}

.address-link:hover,
.address-link:focus {
  color: var(--accent-hover-color);
}

/* Hero */

.hero {
  text-align: center;
  background-color: var(--primary-color);
}

.hero-title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 56px;
  line-height: 1;
  color: var(--white-color);
}

.hero-btn {
  min-width: 150px;
  min-height: 50px;
  padding: 15px;
  cursor: pointer;
  background-color: var(--logo-span-color);
  color: var(--white-color);
  font-weight: 500;
}

/* Advantages */

.advantages-header {
  display: none;
}

.advantages {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  gap: 20px;
}

.advantages-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--primary-color);
}

.advantages-text {
  color: var(--secondary-color);
}

.advantages-list {
  width: calc((100% - 60px) / 4);
}

/* Works */

.work-list {
  display: flex;
  gap: 20px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.work-title {
  margin-bottom: 20px;
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  color: var(--primary-color);
}

/* Team */

.team-title {
  text-align: center;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  color: var(--primary-color);
}

.team-list {
  display: flex;
  gap: 20px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.team-name {
  text-align: center;
  margin-top: 10px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--primary-color);
}

.team-text {
  text-align: center;
  margin-top: 10px;
  color: var(--secondary-color);
}

.section-team {
  background-color: var(--light-bg-color);
}

/* Footer */

.footer {
  background-color: var(--primary-color);
}
.footer-logo {
  color: var(--logo-span-color);
  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-weight: 800;
}

.footer-span {
  color: var(--light-bg-color);
}
.footer-text {
  color: var(--footer-text-color);
  margin-top: 10px;
}

/* Portfolio */

/* App */

.app {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  padding: 0;
  margin-bottom: 80px;
}

.app-title {
  display: none;
}

.app-btn {
  font-weight: 500;
  color: var(--logo-span-color);
  background-color: var(--footer-text-color);
  cursor: pointer;
  min-width: 69px;
  min-height: 48px;
  padding: 10px;
  border: none;
}

.app-btn:hover,
.app-btn:focus {
  color: var(--white-color);
  background-color: var(--accent-hover-color);
}

/* Examples */

.examples {
  list-style: none;

  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 0;
}

.examples-item {
  flex-basis: calc((100% - 2 * 20px) / 3);

  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
}

.examples-title {
  font-weight: 500;
  font-size: 20px;
  color: var(--primary-color);
  margin-bottom: 10px;
  margin-top: 20px;
}

.examples-text {
  color: var(--secondary-color);
  margin-bottom: 20px;
}
