/* Variables */

:root {
  --primary-brand: #4d5ae5;
  --pressed-state: #404bbf;
  --dark: #2e2f42;
  --Success: #31d0aa;
  --text: #434455;
  --subtle-text: #8e8f99;
  --accent: #e7e9fc;
  --light: #f4f4fd;
  --white-background: #ffffff;
}

/* Body */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

/* Container */

.section {
  padding: 120px 0;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.header {
  border-bottom: 1px solid var(--accent);
  padding: 20px 0;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Logo */

.logo {
  color: var(--dark);
  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-weight: 800;
}

.logo-span {
  color: var(--primary-brand);
}

/* Navigations */

.nav-list {
  display: flex;
  font-weight: 500;
  list-style: none;
  color: var(--dark);
  gap: 40px;
}

.nav-link {
  text-decoration: none;
}
.nav-link:hover,
.nav-link:focus {
  color: var(--pressed-state);
}

/* Address */

.address {
  display: flex;
  gap: 40px;
  font-style: normal;
  color: var(--text);
}
.address-link {
  text-decoration: none;
  color: var(--text);
}

.address-link:hover,
.address-link:focus {
  color: var(--pressed-state);
}

/* Hero */

.hero {
  text-align: center;
  background-image:
    linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/background/people-office-bcg.jpg);
  max-width: 1440px;
  height: 600px;
  background-color: var(--dark);
}

.hero-title {
  margin-top: 188px;
  margin-bottom: 48px;
  font-weight: 700;
  font-size: 56px;
  line-height: 1;
  color: var(--white-background);
}

.hero-btn {
  min-width: 150px;
  min-height: 50px;
  padding: 16px 32px;
  cursor: pointer;
  background-color: var(--primary-brand);
  color: var(--white-background);
  font-weight: 500;
  border: none;
}

.hero-btn:hover,
.hero-btn:focus {
  color: var(--white-background);
  background-color: var(--pressed-state);
}

/* Advantages */

.advantages-header {
  display: none;
}

.advantages {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  gap: 20px;
}

.advantages-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--dark);
}

.advantages-list {
  flex-basis: calc((100% - 3 * 20px) / 4);
}

.advantages-text {
  color: var(--text);
}

.advantages-icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 112px;
  background-color: var(--light);
  margin-bottom: 8px;
}

.advantages-icon {
  width: 64px;
  height: 64px;
}

/* Works */

.work-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.work-item {
  flex-basis: calc((100% - 2 * 24px) / 3);
}

.work-title {
  margin-bottom: 20px;
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  color: var(--dark);
}

/* Team */

.team-title {
  text-align: center;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  color: var(--dark);
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.team-item {
  flex-basis: calc((100% - 3 * 24px) / 4);

  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow:
    0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team-name {
  text-align: center;
  margin-top: 10px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--dark);
}

.team-text {
  text-align: center;
  margin-top: 10px;
  color: var(--text);
  margin-bottom: 8px;
}

.section-team {
  background-color: var(--light);
}

.team-icon-wrapper {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 32px;
}

.team-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: var(--primary-brand);
  border-radius: 50%;
  padding: 12px;
}

.team-link:hover,
.team-link:focus {
  background-color: var(--Success);
}

.team-icon {
  fill: var(--light);
  height: 16px;
  width: 16px;
}

/* Customers */

.customers-title {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  margin-bottom: 72px;
}

.customers-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 24px;

  list-style: none;
  padding: 0;
  margin: 0;
}

.customers-item {
  flex-basis: calc((100% - 5 * 24px) / 6);
}

.customers-icon-link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 88px;

  border: 1px solid var(--subtle-text);
  border-radius: 4px;

  color: var(--subtle-text);

  /* transition:
    border-color 250ms ease,
    color 250ms ease; */
}

.customers-icon-link:hover,
.customers-icon-link:focus {
  border-color: var(--pressed-state);
  color: var(--pressed-state);
}

.customers-icon {
  width: 104px;
  height: 56px;
  fill: currentColor;
}

/* Footer */

.footer {
  background-color: var(--dark);
}

.footer-container {
  padding: 100px;
  display: flex;
}

.footer-up {
  max-width: 264px;
}
.footer-logo {
  color: var(--primary-brand);
  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-weight: 800;
}

.footer-span {
  color: var(--light);
}
.footer-text {
  color: var(--accent);
  margin-top: 10px;
}

.footer-media {
  margin-left: 120px;
}

.footer-social {
  font-weight: 400;
  font-size: 24px;
  line-height: 1.5;

  margin-bottom: 16px;
  color: var(--white-background);
}

/* Portfolio */

/* App */

.app {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  padding: 0;
  margin-bottom: 80px;
}

.app-title {
  display: none;
}

.app-btn {
  font-weight: 500;
  color: var(--primary-brand);
  background-color: var(--accent);
  cursor: pointer;
  min-width: 69px;
  min-height: 48px;
  padding: 10px;
  border: none;
}

.app-btn:hover,
.app-btn:focus {
  color: var(--white-background);
  background-color: var(--pressed-state);
}

/* Examples */

.examples {
  list-style: none;

  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 0;
}

.examples-link {
  text-decoration: none;
}

.examples-item {
  flex-basis: calc((100% - 2 * 20px) / 3);

  border-bottom: 1px solid var(--accent);
  border-left: 1px solid var(--accent);
  border-right: 1px solid var(--accent);
}

.examples-item:hover {
  box-shadow:
    0px 3px 1px rgba(0, 0, 0, 0.1),
    0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.examples-title {
  font-weight: 500;
  font-size: 20px;
  color: var(--dark);
  margin-bottom: 10px;
  margin-top: 20px;
}

.examples-text {
  color: var(--text);
  margin-bottom: 20px;
}
